footer {
  text-align: center;
  margin-top: 20%;
}

.sidebar {
  float: left;
  width: 20%;
  margin-top: -5em;
  margin-left: 4em;
  text-align: center;
}

header {
  background-image: url(https://dl.dropboxusercontent.com/u/891237/Test/header_blog.jpg);
  height: 400px;
  background-size: cover;
}

.main {
  margin-left: 12em;
  max-width: 1060px;
  min-width: 319px;
  margin: 0 auto;
}
  
aside img {
  border-radius: 50%;
  border: white solid 4pt
}

body {
  margin: 0;
  background-color: rgba(227, 219, 126, 0.17);
}

.main-column {
  margin-left: 20em;
}

@media screen and (max-width: 400px) {
  header{
    background-image: url(https://dl.dropboxusercontent.com/u/891237/Test/header-320.jpg);
    height: 15em;
  }
  aside img {
    height: 80px;
    border: white solid 3pt;
    margin-top: 1em;
  }
  .sidebar h2 {
    margin-top: 0em
  }
  .sidebar p {
    margin-top: -1em;
    box-shadow: 10px 10px 5px #888888;
}
  .main {
    padding: 0 6% 0 6%;
    font-size: 130%;
    margin-right: -8pt;
    margin-left: -8pt;
  }
  .sidebar {
    margin-top: -2.5em;
    text-align: center;
    padding: 0;
    width: 100%;
    float: none;
    margin-left: 0;
  }
  article h1 {
    margin-top: 2%;
  }
  article {
    background-color: white;
    padding: 5px 0 5px 11px;
    margin-bottom: 14%;
    padding: 0.5em .5em 2em .5em;
    
  }
  .main-column {
    margin-left: 0;
  }
  .icons nav {
    float: right;
    color: red;
  }
}