<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="CSS/styles.css">
  <title>The Donz Experiment - A Blawg</title>
</head>
<body>
  <header></header>
  <div class="main">
    <!-- SIDE BAR -->
    <aside class="sidebar">
      <img src="https://avatars2.githubusercontent.com/u/8824985?v=3&s=120">
      <h2>The Donz's Blog</h2>
      <p>Carlos' experiments in the world of Front-End Web Development. Based out of Orlando, FL.
      </aside>
      <!-- Main Body-->
      <section class="main-column">
        {{content}}
      </section>
    </div>
  </body>
  </html>
